<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="header-wrapper">
        <a class="stripped-link" href="/"><img class="header-logo" src="../../assets/logo.png" width="200" height="60" ></a>
        <mat-form-field appearance="standard">
          <input type="text"
           placeholder="Find a TemTem"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
           (input)='_filter($event.target.value)'>
          <mat-autocomplete (optionSelected)='selected($event.option.value)' #auto="matAutocomplete">
            <a class="stripped-link-visible" routerLink="/temtem/{{option.number}}" *ngFor="let option of filteredOptions$ | async">
              <mat-option  [value]="option">
                {{option.name}}
              </mat-option>
            </a>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>