table {
    width: 100%;
}

.base-stats-header, .temtem-table-name{
    text-align: center !important;
}

.mat-row:hover {
    background: rgba(233,30,99,.15);
    color: #f492b4;
}

th.mat-column-hp {
    padding-left: 0 !important;
}

th.mat-header-cell:last-of-type {
    padding-right: 0 !important;
}