.content-header {
    padding-top: 15px;
}

.description-content-section {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.description-content-section-main {
    flex: 0.7;
}

.description-content-section-side {
    flex: 0.3;
}