:host {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
}

.sidenav-wrapper {
    display: flex;
    
    flex: 1 1 auto;
}

.sidenav-drawer {
    width: 200px;
    position: fixed;
    top: 64px;
    z-index: -1;
}

.sidenav-content {
    width: 100%;
    padding: 25px;
}
