<mat-drawer-container *ngIf="types$ | async as types"class="docs-component-viewer-nav-content sidenav-wrapper ">
    <mat-drawer class="mat-drawer sidenav-drawer" mode="side" opened>
        <mat-nav-list>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <b>Types</b>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <a mat-list-item routerLink="/type/{{type.name}}" routerLinkActive="active-list-item" *ngFor="let type of types"> <img class="type" src="{{ type.icon | addApiUrlPipe }}">{{ type.name }}</a>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="sidenav-content">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
