:host {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
}

.sidenav-wrapper {
    display: flex;
    
    flex: 1 1 auto;
}

.sidenav-drawer {
    width: 200px;
    position: fixed;
    top: 64px;
    z-index: -1;
}

.sidenav-content {
    width: 100%;
    padding: 25px;
}

.active-list-item {
    background: rgba(233,30,99,.15) !important;
}

.mat-expansion-panel-body {
    padding: 0px !important ;
}